<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="POWERBI_APP_DB_CONNECTION" value="Server=tcp:mngenvmcap203777-sqlserver001.database.windows.net,1433;Initial Catalog=powerbihub001;Persist Security Info=False;User ID=ADMPowerBIHub;Password=1231!#ASDF!a;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;"/>
	</appSettings>
</configuration>